<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加业务</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/business.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="images/icon.png" type="image/x-icon"/>
</head>
<body>
    <%- include header.html %>
    <div class="container">
        <div class="side-left">
            <ul id="js-list" class="bid-list clearfix">
                <% for(var i=0;i<business.length;i++) { %>
                <li class="bid">
                    <%= business[i].name %>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="side-right">
            <div id="js-form" class="add-form">
                <input type="text" name="business" placeHolder="请输入要添加的业务名称"/>
                <input type="text" name="pm" placeHolder="业务负责人"/>
                <a id="js-add" href="javascript:;" class="btn add-btn">添加</a>
            </div>
        </div>
    </div>
    <%- include footer.html %>
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="js/business.js"></script>
</body>
</html>